@{
    ViewData["Title"] = "Home Page";
}
@model IndexViewModel
<h2 class="text-center">@ViewBag.SelectedTeam</h2>
<table class="table table-striped table-hover table-dark table-bordered">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Middle Initial</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var x in Model.Bowlers)
        {
            <tr>
                <td>@x.BowlerFirstName</td>
                <td>@x.BowlerMiddleInit</td>
                <td>@x.BowlerLastName</td>
                <td>@x.BowlerAddress</td>
                <td>@x.BowlerCity</td>
                <td>@x.BowlerState</td>
                <td>@x.BowlerZip</td>
                <td>@x.BowlerPhoneNumber</td>
            </tr>
        }
    </tbody>
</table>

<div page-info="@Model.PageNumberingInfo"
     page-url-teamName="@Model.TeamCategory"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-info"
     page-class-selected="btn-info"
     class="btn-group pull-right m-1">
</div>